.static-example{
    position : static;
    width: 600px;
    height: 30px;
    color: white;
    background-color: rgb(222, 222, 222);
    text-align: center;
    padding: 5px;
}

.relative-example{
    position : relative;
    width: 600px;
    height: 30px;
    color: white;
    background-color: rgb(131, 195, 227);
    text-align: center;
    top: 20px;
    left: 20px;
    padding: 5px;
}

.absolute-example{
    position : absolute;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(142, 255, 199);
    text-align: center;
    top: 20px;
    left: 20px;
    padding: 5px;
}

.sticky-example{
    position : sticky;
    width: 600px;
    height: 30px;
    color: white;
    background-color: rgb(224, 139, 139);
    text-align: center;
    padding: 5px;
}