# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\SSAFY\Desktop\TIL\06_algorithm_adv\101-offline-sh\02-최소신장트리\5249_최소신장트리\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
